
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bubblegum+Sans&display=swap');
@import "tailwindcss";

@theme {
  --color-davy-gray: #605b56; 
  --color-stone-gray: #837a75;
  --color-olivine: #acc18a;
  --color-tea-green: #dafeb7;
  --font-bubble: "Bubblegum Sans", sans-serif;
}